.post-card {
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.post-card:hover {
    transform: translateY(-5px);
}

.post-card h2 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    white-space: normal; 
}

.post-card p {
    margin: 5px 0;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.post-card p strong {
    color: #000;
}

.post-card .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #888;
}

.post-card-link {
    text-decoration: none;
    color: inherit;
    display: inline-block; 
  }
  
